.imagesPanel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 5px;
    justify-content: center;
    grid-row-gap: 8px;
}

.image__preview {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.image__preview img{
    width: 155px;
    border: solid 4px white;
}

.image__preview img:hover{
    width: 155px;
    border: solid 4px #ccc;
}

.imagesControl {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 25px;
    padding-top: 10px;
    padding-left: 8px;
    background: #eee;
    border-left:  1px solid #EAEEF3;
    border-right: 1px solid #EBF0F4;
    border-bottom: solid 1px #EAEEF3;
}

.imagesControl__upload {
    padding-right: 12px;
}
