.imagesPanel {
    display: grid;
    padding: 5px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-row-gap: 8px;
}

.image__preview {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.image__preview img{
    width: 145px;
    border: solid 4px white;
}

.image__preview img:hover{
    width: 145px;
    border: solid 4px #ccc;
}

.imagesControl {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 27px;
    padding: 0 8px;
    background: #eee;
    border-left:  1px solid #EAEEF3;
    border-right: 1px solid #EBF0F4;
    border-bottom: solid 1px #EAEEF3;
}
.imagesControl__navigation {
    padding-top: 7px;
}

.imagesControl__upload {
    padding-top: 6px;
    padding-right: 6px;
}
