

.main {
  display: grid;
  justify-content: center;
  grid-template-columns: 118px 660px ;
  grid-template-rows: 45px 1fr;
  grid-column-gap: 15px;
  grid-template-areas:
          "h h"
          "nav body"
          "nav  f"
}

.pageHeader {
  grid-area: h;
}
.sideBar {
  grid-area: nav;

  margin: 5px 1px 1px 9px;
  padding-bottom: 10px;
}

.pageBody {
  grid-area: body;
}

h2{
  font-size: 13px;
  color: #45688E;
  text-decoration: none;
  margin: 5px 0;
}

@media only screen and (max-width: 767px ) {
  .sideBar {display: none;}

  .main {
    grid-template-columns: 650px ;
    grid-template-areas: "h"
    "nav"
    "body"
  }
}

@media only screen and (max-width: 375px ) {
  .main{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}