.profileInfo {
    padding: 5px 0px 15px 8px;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 120px 1fr;
    line-height: 1.5;
}

.profileInfo input{
    width: 95%;
}

.profileInfo textarea{
    width: 95%;
    resize: vertical;
}

.profileInfo [type=checkbox] {
    width: auto;
}

.profileInfo__label {
    color: gray;
    padding: 2px;
    display: grid;

}
.profileInfo__data {
    padding: 2px;
    white-space: pre
}